/* .my-editor .CodeMirror{
  height:340px !important;
  color:#fff;
}

.my-editor .CodeMirror-gutters {
  background: #1d1e22 !important;
}

.my-editor .CodeMirror-scroll{
  background: #1d1e22;
} */

 /* .my-editor{
  background-color: black;
}  */